@import "reset.css";

html {

    color: #363636;
    font-size: 12px;
}

/*
  Some font proprties do not inherit properly on form elements.
  this forces them.
 */
html, input, select, textarea, button {

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body, input, select, textarea, button {

    font-size: 12px;
    line-height: 16px;
}

h1 {

    font-size: 24px;
    line-height: 28px;
}

h2 {

    font-size: 18px;
    line-height: 22px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

h4 {
    font-size: 14px;
    line-height: 18px;
}

small {

    font-size: 11px;
    line-height: 15px;
}

a {

    color: #007db1;
    text-decoration: none;
}

a:hover {

    text-decoration: underline;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {

    font-size: 13px;
}

/*
 * Tables
 */

thead td,
thead th {

  color: #868686;
}

/*
 * State
 */

.is-default {

  color: #363636;
}

.is-muted {

  color: #868686;
}

.is-success {

  color: #74982F;
}

.is-error {

  color: #CD1126;
}