*, :after, :before {

  box-sizing: border-box;
}

html {

  color: #363636;
  font-size: 12px;
}

/*
  Some font proprties do not inherit properly on form elements.
  this forces them.
 */
html, input, select, textarea, button {

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body, input, select, textarea, button {

  font-size: 12px;
  line-height: 16px;
}

strong, .strong {

  font-weight: 600;
}

small {

  font-size: 11px;
  line-height: 15px;
}

a {

  color: #007db1;
  text-decoration: none;
}

a:hover {

  text-decoration: underline;
}

p {

  margin-bottom: 5px;
}