/*
 * Display utility classes
 */

.block {

  display: block;
}

.inline {

  display: inline;
}

@media (min-width: 900px) {

  .med-block {

    display: block;
  }

  .med-inline {

    display: inline !important;
  }
}