.app-title {
    color: #45525f;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.app-title > a {
    color: #363636;
    text-decoration: none;
}

.app-title__logo {

    /* We set the background image but why can't we see it yet??? */
    background: transparent url(../../img/app-title__logo.png) 0 center no-repeat;
    border-right: 1px solid #c4c6c8;
    margin-right: 10px;
}