/* Default Buttons */
.btn,
[type=button],
button {
    background-color: #f5f5f5;
    color: #363636;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
}

.btn,
.btn:hover {
    text-decoration: none;
}

.btn:hover,
[type=button]:hover,
button:hover {
    background-color: #fff;
    color: #363636;
    text-decoration: none;
}

.btn:active,
[type=button]:active,
button:active {
    background-color: #fff;
    color: #363636;
    text-decoration: none;
}

/* Disabled Buttons */

.btn--positive[disabled]:active,
.btn--positive[disabled]:hover,
button[disabled],
button[disabled]:active,
button[disabled]:active:hover,
button[disabled]:hover,
button[disabled]:hover:active {
    border: 1px solid #bababa;
    background-color: #f5f5f5;
    box-shadow: none;
    color: #888;
    font-weight: 300;
}

/* Positive Buttons */

.btn--positive {
    background-color: #007db1;
    border-color: #006a9a;
    color: #fff;
}

.btn--positive:active,
.btn--positive:hover {
    background-color: #008ac7;
    color: #fff;
}

/* Link Buttons */

.btn--link {
    color: #007db1;
}

.btn--link,
.btn--link:active,
.btn--link:hover {
    background-color: transparent;
    border-color: transparent;
    font-weight: 400;
}

.btn--link:active,
.btn--link:hover {
    color: #007db1;
    text-decoration: underline;
}