.nav--selected-color {
    color: #363636;
}

.nav--selected-color:hover {
    text-decoration: none;
}

.section-nav > li {

    line-height: 28px;
}

.section-nav > li > a {
    text-decoration: none;
    border-bottom-color: transparent;
}

.section-nav > li > a:hover {
    border-bottom-color: #007db1;
}