/*
 * Grid system
 */

.one-twelfth {

  width: 8.3333333333%;
}

.two-twelfths {

  width: 16.666666667%;
}

.three-twelfths,
.one-quarter {

  width: 25%;
}

.four-twelfths,
.one-third {

  width: 33.3333333333%;
}

.five-twelfths {

  width: 41.666666666667%
}

.six-twelfths, .one-half {

  width: 50%;
}

.seven-twelfths {

  width: 58.333333333333%
}

.eight-twelfths,
.two-thirds{

  width: 66.666666666667%;
}

.nine-twelfths,
.three-quarters{

  width: 75%;
}

.ten-twelfths {

  width: 83.333333333333%;
}

.eleven-twelfths {

  width: 91.666666666667%;
}

.twelve-twelfths, .one-whole {

  width: 100%;
}